body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border:10px solid black;
    border-radius: 15px;
    margin: 10px;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.flash{
    background-color: white !important;
    
}

.yellow{
   background-color: yellow;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.voilet{
    background-color: violet;
}
.userflash{
    background-color: aqua;
}